{{ define "main" }}
<header id="post-header"><h1>{{ .Title }}</h1></header>
{{ .Content }}

{{ $songs := .Pages.ByTitle }}
{{ if $songs }}
<ul class="song-list">
{{ range $songs }}
    <li class="song-card">
        <a href="{{ .Permalink }}">
            <span class="song-title">{{ .Title }}</span>
            {{ with .Description }}
            <span class="song-desc">{{ . }}</span>
            {{ else }}
                {{ with .Summary }}
                <span class="song-desc">{{ . | plainify | truncate 80 }}</span>
                {{ end }}
            {{ end }}
        </a>
    </li>
{{ end }}
</ul>
{{ end }}
{{ end }}
