<header id="banner">
    <h2><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>
    <nav>
        <ul>
            {{ range .Site.Menus.main.ByWeight -}}
            <li>
                {{ .Pre }}<a href="{{ .URL }}" title="{{ .Title }}">{{- .Name -}}</a>{{ .Post }}
            </li>
            {{- end }}
            <li>
              <a href="https://x.com/saz_jp" rel="me" target="_blank">twitter</a>
            </li>
            <li>
              <a href="https://instagram.com/saz.jp" rel="me" target="_blank">instagram</a>
            </li>
            <li>
              <a href="https://www.youtube.com/@kyzn/videos" rel="me" target="_blank">youtube</a>
            </li>
        </ul>
    </nav>
</header>
